.profile {
  &__container {
    margin: 10px;
    padding: 10px;
    border: 1px solid $color-red;
    border-radius: 10px;
    background-color: $color-pink-light;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 150px;
    text-align: center;
    box-shadow: 5px 3px 15px -5px grey;
  }

  &__name {
    font-size: 32px;
    color: $color-red;
  }

  &__photo {
    max-width: 100px;

    &-container {
      max-height: 100px;
      max-width: 100px;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  &__button {
    background-color: $color-pink;
    font-size: 10px;
    padding: 3px;
    width: 110px;
    height: 30px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;

    &__container {
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  }
}

.select-profile {
  padding: 10px;
  text-align: center;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    justify-content: center;
  }
}
