.blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__container {
    height: 500px;
    width: 400px;
    margin: 20px;
    border: 5px solid $color-red;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 5px 3px 15px -5px grey;
    background-color: $color-pink-light;
    z-index: 20;
  }

  &__text {
    color: $color-red;
    font-weight: bold;
  }

  &__title {
    font-weight: lighter;
  }

  &__flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
}

.vote {
  &__container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
  }

  &__button {
    color: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;

    &__like {
      background-color: $color-poop;
    }
    &__dislike {
      background-color: $color-red;
    }

    &__check {
      height: 40px;
      width: 5px;
      transform: translateX(8px) rotate(45deg);
      background-color: white;
      border-radius: 10px;
    }

    &__check::after {
      height: 20px;
      width: 5px;
      transform: translate(-8px, 28px) rotate(-90deg);
      background-color: white;
      border-radius: 10px;
    }

    &__x,
    &__x::after {
      height: 40px;
      width: 5px;
      transform: rotate(45deg);
      background-color: white;
      border-radius: 10px;
    }

    &__x::after {
      transform: rotate(-90deg);
    }

    &__check::after,
    &__x::after {
      content: '';
      display: inline-block;
    }
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 0;
  position: absolute;

  &__button-text {
    color: white;
    font-weight: 400;

    &-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__textarea {
    height: 100%;
    width: 350px;
    resize: none;
    border: none;
    font-size: 16px;
    padding: 30px;
    background-color: $color-pink-light;

    &-container {
      height: 500px;
      width: 400px;
      margin: 20px;
      border: 5px solid $color-red;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 5px 3px 15px -5px grey;
      background-color: $color-pink-light;
    }
  }
}

.picture {
  max-width: 100%;

  &__container {
    height: 500px;
    width: 400px;
    margin: 20px;
    border: 5px solid $color-red;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-pink-light;
    overflow: hidden;
    box-shadow: 5px 3px 15px -5px grey;
    z-index: 20;
  }
}

.card-stack {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    height: 540px;
    // position: absolute;
  }

  &__card {
    cursor: move;
    transform-origin: 50% 100%;
  }
}
