$color-primary: #00887a;
$color-secondary: #77a6f7;
$color-tertiary: #d3e3fc;

$color-text-light: black;
$color-text-dark: #ffffff;
$color-app-background: #ffffff;
$color-card-background: #d3e3fc;
$color-nav: #77a6f7;
$color-card-border: #77a6f7;

$color-focus: #00887a;

$color-button: #ea584f;
$color-button-like: #00887a;
$color-button-dislike: #ea584f;
$color-white: white;
$color-gray: gray;
$color-gray-light: lightgray;
