

.left {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  overflow: hidden;
  max-height: 150px;
  max-width: 270px;

  &-image {
    max-width: 75%;
    max-height: 75%;
  }
}

.right {
  border-bottom: 1px solid black;
  width: 150px;
}

.table {
  width: 420px;
  display: flex;

  &-feedback-row {
    margin: 8px;
  }

  &-master {
    max-width: 420px;
  }
}
