.table {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  &-heading-padding {
    padding: 1rem;
  }

  &__feedback-row {
    font-style: italic;
    list-style-type: none;
    padding: 0.8rem 0rem;
    text-align: left;

    &-container {
      padding: 0rem 3rem;
    }
  }

  &__row {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &::after {
      background-color: $color-gray-light;
      content: '';
      height: 0.1rem;
      margin: 1rem auto;
      position: relative;
      width: 85%;
    }

    &__blurb {
      font-size: 1.2rem;
      font-style: italic;
      padding: 1rem 3rem;
    }

    &__image {
      max-width: 100%;

      &-container {
        align-items: center;
        border-radius: 1rem;
        border: 0.2rem solid $color-card-border;
        display: flex;
        justify-content: center;
        margin: 1rem 0rem;
        max-height: 10rem;
        overflow: hidden;
        width: 10rem;
      }
    }
  }

  &__dismiss-button {
    align-items: center;
    background-color: $color-button;
    border: 0.1rem solid $color-gray;
    color: $color-white;
    display: flex;
    height: 5rem;
    justify-content: center;
    margin: 2rem auto;
    width: 80%;

    &:focus {
      border: 0.2rem solid $color-focus;
    }
  }
}
